body.options {
  text-align: left;
  margin: auto !important;
  width: 100%;
  padding-top: 5%;
  background-color: white;
}
body.options .container {
  width: 70%;
  margin: auto;
  padding: 40px;
  border: 30px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
body.options .container .title {
  text-align: center;
  font-size: 1.5em;
}
body.options #BDUserName {
  width: 80%;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(119, 119, 119, .8);
}
body.options tr { font-size: 1.2em; }
body.options td { padding: 10px 0; }
body.options .msg { color: red; font-size: 1.2em; }
body.options td input, body.options td strong {
  line-height: 30px;
  font-size: 1.2em;
}
body.options td input { padding-left: 10px; }
body.options td label {
  width: 180px;
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
}
body.options table.options { width: 100%; }
body.options table td:first-child {
  text-align: right;
  width: 30%;
  padding-right: 20px;
}
body.options table td:last-child {
  text-align: left;
  width: 70%;
  padding-left: 20px;
}
.fixed-height { height: 70px; }

.actions input {
  text-decoration: none;
  width: 130px;
  line-height: 20px;
  color: white;
  font-size: .5em;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #C6C6C6;
  outline: medium;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 0px 10px;
}
.actions input:hover {
  background: rgba(0, 0, 0, .8);
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  opacity: 0.7;
  background-color: transparent;
  border-top: 2px solid #efefef;
}
footer .wrappers {
  font-size: 1.2em;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #000000;
  vertical-align: middle;
}

